@model PermisoVuelosCharterEspeciales.Models.permisos_vuelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>permisos_vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="tipo_solicitud" class="control-label"></label>
                <input asp-for="tipo_solicitud" class="form-control" />
                <span asp-validation-for="tipo_solicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_solicitud" class="control-label"></label>
                <input asp-for="num_solicitud" class="form-control" />
                <span asp-validation-for="num_solicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_vuelos_solicitados" class="control-label"></label>
                <input asp-for="num_vuelos_solicitados" class="form-control" />
                <span asp-validation-for="num_vuelos_solicitados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cod_oaci" class="control-label"></label>
                <input asp-for="cod_oaci" class="form-control" />
                <span asp-validation-for="cod_oaci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedula_ruc" class="control-label"></label>
                <input asp-for="cedula_ruc" class="form-control" />
                <span asp-validation-for="cedula_ruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fax" class="control-label"></label>
                <input asp-for="fax" class="form-control" />
                <span asp-validation-for="fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vigencia_seguro" class="control-label"></label>
                <input asp-for="vigencia_seguro" class="form-control" />
                <span asp-validation-for="vigencia_seguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proposito_vuelo" class="control-label"></label>
                <input asp-for="proposito_vuelo" class="form-control" />
                <span asp-validation-for="proposito_vuelo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pasajeros" /> @Html.DisplayNameFor(model => model.pasajeros)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="num_pasajeros" class="control-label"></label>
                <input asp-for="num_pasajeros" class="form-control" />
                <span asp-validation-for="num_pasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carga" class="control-label"></label>
                <input asp-for="carga" class="form-control" />
                <span asp-validation-for="carga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_fletador" class="control-label"></label>
                <input asp-for="nombre_fletador" class="form-control" />
                <span asp-validation-for="nombre_fletador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono_fletador" class="control-label"></label>
                <input asp-for="telefono_fletador" class="form-control" />
                <span asp-validation-for="telefono_fletador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fax_fletador" class="control-label"></label>
                <input asp-for="fax_fletador" class="form-control" />
                <span asp-validation-for="fax_fletador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion_fletador" class="control-label"></label>
                <input asp-for="direccion_fletador" class="form-control" />
                <span asp-validation-for="direccion_fletador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_fletador" class="control-label"></label>
                <input asp-for="email_fletador" class="form-control" />
                <span asp-validation-for="email_fletador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="permiso_operador" class="control-label"></label>
                <input asp-for="permiso_operador" class="form-control" />
                <span asp-validation-for="permiso_operador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especificaciones_operacionales" class="control-label"></label>
                <input asp-for="especificaciones_operacionales" class="form-control" />
                <span asp-validation-for="especificaciones_operacionales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="forma_pago" class="control-label"></label>
                <input asp-for="forma_pago" class="form-control" />
                <span asp-validation-for="forma_pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observaciones" class="control-label"></label>
                <input asp-for="observaciones" class="form-control" />
                <span asp-validation-for="observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_representante" class="control-label"></label>
                <input asp-for="nombre_representante" class="form-control" />
                <span asp-validation-for="nombre_representante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detalle_vuelo_complementado" class="control-label"></label>
                <input asp-for="detalle_vuelo_complementado" class="form-control" />
                <span asp-validation-for="detalle_vuelo_complementado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
